<%= render 'header' %>
<div class="row ">
	<div class="eight columns panel radius">
		
		<div class="row">
			<div class="twelve columns">
				<h4>Activity</h4>
			</div>
		</div>

	</div>
	<div class="four columns panel radius">
	</div>
</div>



