InviteMailer#beta_invitation

<%= @greeting %>, find me in app/views/app/views/invite_mailer/beta_invitation.text.erb

You can sign up at <a href="<%= @url%>users/sign_up?invitation_token=<%= @invitation.invitation_token %>&email=<%= @email %>">this link</a>

