// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p.deadline{
    font-size: 0.7em;
}

.listhead{
    background-color: #B0ACAE;
    padding-top: 5px;
    margin-bottom: 25px !important;
}

.nopadding{
    padding: 0 !important;
}